<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        h3{
            color:#CA8452;
        }
        span{
            margin-left: 8%;
            color:#CA8452;
            font-size: 20px;
        }
    </style>
</head>
<body style="background: #3B2A20">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">伟涛酒店后台管理系统</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">入住管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/datang">大堂入住</a></li>
                        <li><a href="/dindan">订单入住</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">退房管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tui">退房管理</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">记录查询<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/check">入住记录查询</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">房间管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/refer">查询房间信息</a></li>
                        <li><a href="#">新建房间</a></li>
                        <li><a href="#">删除房间</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">房类管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/lei">房间类别管理</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">修改密码<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="mima">修改密码</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">查看房间<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/room">查看房间</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="cont" style="width: 80%;margin: auto;position:absolute;left: 20%;">
    <h3>顾客信息</h3>
    <p>
        <span>
            入住时间: <input class="comeday" type="date" style="color:#000;">
        </span>
        <span>
            离开时间: <input class="goday" type="date" style="color:#000;">
        </span>
    </p>
    <p>
        <span>
            证件类型:
             <select name="" id="" class="zhengjian" style="color:#000;">
                <option value="身份证">身份证</option>
                <option value="驾驶证">驾驶证</option>
             </select>
        </span>
        <span>
            证件号: <input type="text" style="color:#000;" class="zhengjianhao">
        </span>
    </p>
    <p>
        <span style="margin-left: 10.5%;">
            姓名: <input type="text" style="color:#000;" class="rename">
        </span>
        <span style="margin-left: 9%;">
            性别：
            <select style="color:#000;" name="" class="sex">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </span>
    </p>
    <h3 class="fxx">房间信息</h3>
    <p>
        <span>
            房间类型: <select class="select" name="leixing" id="" style="color:#000;"></select>
        </span>
        <span>
            房间号: <select name="" class="fangjian" style="color:#000;"></select>
        </span>
    </p>
    <p>
        <span style="margin-left: 5.5%;">
            房间剩余数量: <span class="shengyu"></span>
        </span>
    </p>
    <p>
        <span style="margin-left: 10.8%;">
            价格: <span class="jiage"></span>
        </span>
    </p>
    <p>
        <span style="margin-left: 7%;">
            入住人姓名: <input type="text" class="name" style="color:#000;">
        </span>
    </p>
    <span style="margin-left: 14.5%;">多个入住人请用逗号隔开</span>
    <p style="margin-left: 14%;margin-top: 2%;">
        <input type="button" value="办理入住" class="btn btn-info">
        <input type="button" value="完成" class="btn btn-primary">
    </p>
</div>
<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/PageNav.js"></script>
<script>
    //房间类别
    $.get("/leibief",function(data){
        var str="";
        var data=data.result;
        for(var i=0;i<data.length;i++){
            str="<option>"+data[i].leixing+"</option>";
            $(".select").append(str);
        }
    })
    //房间号
    $(".select").click(function () {
        var typename=$(this).val();
        $.get("/fanghao",function(data){
            $(".fangjian").empty();
            var str="";
            var data=data.result;
            $.each(data, function (i, n) {
                if(n.leixing==typename&&n.zhuangtai=="未入住"){
                    str="<option>"+data[i].sid+"</option>";
                    $(".fangjian").append(str);
                }
            })
        })
    })
    //办理入住
    $(".btn").click(function () {
        var comeday=$(".comeday").val();
        var goday=$(".goday").val();
        var starttime= comeday.split("-")[2];
        var endtime  = goday.split("-")[2];
        var time=endtime-starttime;
        console.log(time)
        console.log(comeday)
        $.post("/ruzhu", {
            sid:$(".fangjian").val(),
            comeday: comeday,
            goday: goday,
            name: $(".name").val(),
            rename:$(".rename").val(),
            zhengjianhao: $(".zhengjianhao").val(),
            sex: $(".sex").val(),
            fanghao: $(".fangjian").val(),
            leixing: $(".select").val(),
            zhuangtai:"已入住",
            xiaofei: $(".jiage").html()*time,
            zjleixing:$(".zhengjian").val(),
            riqi:$(".comeday").html(),
            jiage:$(".jiage").html()
        }, function (data) {
            if (data.result == 1) {
                alert("提交成功！");
                window.location.href = '/dindan';
            } else if (data.result == -1) {
                alert("提交失败,被占用！");
            } else if (data.result == -2) {
                alert("服务器错误！请联系管理员，怎么联系我也不知道！");
            }
        })
    });
    //更改房号信息
    $(".btn").click(function () {
        var sid=$(".fangjian").val();
        var zhuangtai="已入住";
        console.log(zhuangtai);
        $.post("/fanghaotype/" + sid,{
            zhuangtai: zhuangtai
        },function(data){
            if(data.result == 1){
                // alert("成功")
            }
        })
    });
    //价格
    $(".select").click(function () {
        var typename=$(this).val();
        $.get("/jiagef",function(data){
            var data=data.result;
            $.each(data, function (i, n) {
                if(n.leixing==typename){
                    $(".jiage").html(data[i].jiage)
                    $(".shengyu").html(data[i].yushuliang)
                }
            })
        })
    })
</script>
</body>
</html>