<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        h3{
            text-align: center;
            color:#CA8452;
        }
    </style>
</head>
<body style="background: #3B2A20">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">伟涛酒店后台管理系统</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">入住管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/datang">大堂入住</a></li>
                        <li><a href="/dindan">订单入住</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">退房管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tui">退房管理</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">记录查询<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/check">入住记录查询</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">房间管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/refer">查询房间信息</a></li>
                        <li><a href="#">新建房间</a></li>
                        <li><a href="#">删除房间</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">房类管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/lei">房间类别管理</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">修改密码<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="mima">修改密码</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">查看房间<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/room">查看房间</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="cont">
    <h3>房间类别信息</h3>
    <button class="button btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">增加分类</button>
    <div class="container">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">增加分类</h4>
                    </div>
                    <div class="modal-body">
                        <form id="biaodan" action="/doadd" method="post">
                            <p>房间号: <input type="text" name="sid" /></p>
                            <p>房间类型：<select class="select" name="leixing" id=""></select></p>
                            <p>房间位置：<input type="text" name="weizhi" /></p>
                            <p>房间描述：<input type="text" name="miaoshu" /></p>
                            <p>房间状态：
                                <select name="zhuangtai" id="zhuangtai">
                                    <option value="未入住">未入住</option>
                                    <option value="已入住">已入住</option>
                                </select>
                            </p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn">ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">修改</h4>
                    </div>
                    <div class="modal-body">
                        <form id="biaodan2" action="/doadd" method="post">
                            <p>房间号: <input type="text" name="sid" /></p>
                            <p>房间类型：<select class="select" name="leixing" id="selects"></select></p>
                            <p>房间位置：<input type="text" name="weizhis" /></p>
                            <p>房间描述：<input type="text" name="miaoshus" /></p>
                            <p>房间状态：
                                <!--<input type="text" name="zhuangtais" />-->
                                <select name="zhuangtais" id="zhuangtais">
                                    <option value="未入住">未入住</option>
                                    <option value="已入住">已入住</option>
                                </select>
                            </p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="ok">ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped" style="margin-top: 20px;width: 100%;background: #D1B48C;">
        <tr>
            <th>房间号</th>
            <th>房间类型</th>
            <th>房间位置</th>
            <th>房间描述</th>
            <th>房间状态</th>
            <th>操作项</th>
        </tr>

        <tbody id="tbody"></tbody>

    </table>
    <div id="pagenavbox"></div>
</div>
<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/PageNav.js"></script>
<script>
    $.get("/leibief",function(data){
        var str="";
        var data=data.result;
        for(var i=0;i<data.length;i++){
            str="<option>"+data[i].leixing+"</option>";
            $(".select").append(str);
        }
    })
    $.get("/doaddfh?page=1", function (data) {
        new PageNav({
            boxid: "pagenavbox",
            page: 1,
            pageAmount: data.pageAmount,
            change: function (pagenumber) {
                gotopage(pagenumber);
            }
        });
        gotopage(1);
    });
    function gotopage(pagenumber) {
        $("#tbody").empty();
        $.get("/doaddfh?page=" + pagenumber, function (data) {
            $.each(data.results, function (i, n) {
                //创建一个tr标签
                $tr = $("<tr class='shows'></tr>");
                $("<td></td>").html(n.sid).appendTo($tr);
                $("<td></td>").html(n.leixing).appendTo($tr);
                $("<td></td>").html(n.weizhi).appendTo($tr);
                $("<td></td>").html(n.miaoshu).appendTo($tr);
                $("<td></td>").html(n.zhuangtai).appendTo($tr);
                $("<td></td>").html("<button type='button' data-toggle='modal' data-target='#myModal1' id='update' class='work update btn btn-primary'>修改</button> <button type='button' class='work del btn btn-danger'>删除</button>").appendTo($tr);
                //上树
                $tr.appendTo($("#tbody"));
            });
        });
    }
    //增加
    $("#btn").click(function () {
        $.post("/doaddfh", {
            sid: parseInt($("input[name=sid]").val()),
            leixing: $(".select").val(),
            weizhi: $("input[name=weizhi]").val(),
            miaoshu: $("input[name=miaoshu]").val(),
            zhuangtai: $("#zhuangtai").val(),
        }, function (data) {
            if (data.result == 1) {
                alert("提交成功！");
                window.location.href = '/refer';
                $("input[type=text]").val("");
            } else if (data.result == -1) {
                alert("提交失败,被占用！");
            } else if (data.result == -2) {
                alert("服务器错误！请联系管理员，怎么联系我也不知道！");
            }
        })
    });
    //修改
    $("#tbody").delegate(".update", "click", function () {
        var This = $(this).parent().parent().children();
        var sid = $(This).eq(0).html();
        console.log(sid)
        $.get("/fhtype/"+sid,function (data) {
            if (data.result==-1){
                alert("查无此人")
            }else{
                $("input[name=sid]").val(data.result.sid);
                $("#selects").val(data.result.leixing);
                $("input[name=weizhis]").val(data.result.weizhi);
                $("input[name=miaoshus]").val(data.result.miaoshu);
                $("#zhuangtais").val(data.result.zhuangtai);
            }
        })
    })
    $("#ok").click(function () {
        var  sid = parseInt($("input[name=sid]").val());
        $.post("/fhtype/" + sid,{
            sid: parseInt($("input[name=sid]").val()),
            leixings: $("#selects").val(),
            weizhis: $("input[name=weizhis]").val(),
            miaoshus: $("input[name=miaoshus]").val(),
            zhuangtais: $("#zhuangtais").val(),
        },function(data){
            if(data.result == 1){
                alert("修改成功！");
                window.location = "/refer";
            }else{
                alert("服务器错误！请联系管理员，怎么联系我也不知道！");
            }
        })
    })
    //删除
    $("#tbody").delegate(".del", "click", function () {
        var This = $(this).parents().children();
        var sid = $(This).eq(2).html();
        $.ajax({
            url: "/doaddfh/" + sid,
            type: "delete",
            success: function (data) {
                if (data.result == 1) {
                    alert("删除成功");
                    This.parents("tr").remove();
                    window.location.href = '/refer'
                } else {
                    alert("服务器错误！");
                }
            }
        });
    })
</script>
</body>
</html>